@model List<Category>
@{
    ViewData["Title"] = "Category List";
}

<div class="container shadow-sm rounded-1 pb-1">

<div class="row mt-2">
     <div class="row text-light text-center bg-primary rounded-1 pb-2 pt-2 ms-0">
          <h2 class="text-light">Category List</h2>
     </div>
 </div>

<div class="row pt-2 pb-2">
    <!--12 Row Grid-->
    <div class="col-12 text-end">
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary rounded-1">
            <i class="bi bi-plus-circle me-1 "></i>
            Create New Category
        </a>
    </div>
</div>


<table  class="table table-bordered table-striped ">

    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr style="height:35px">
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-1 rounded-1">
                                <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1 rounded-1">
                                <i class="bi bi-trash"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>    
        }
    </tbody>

</table>
</div>